@import "~global/assets/variable.scss";

[v-cloak] {
  display: none;
}

.flexbox {
  display: flex;
}

.flexbox-center {
  justify-content: center;
  align-items: center;
}

.flex {
  flex: 1;
}

.flexbox-column {
  flex-direction: column;
}

#app {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.i-b {
  display: inline-block;
  vertical-align: middle;
}

.pt10 {
  padding-top: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
//侧边栏公用样式
.page-container {
  // display: flex;
  position: relative;
}

.page-main {
  background-color: #f9f9f9;
  width: 100%;
  padding-left: 221px;
  ::-webkit-input-placeholder {
    color: #999;
    font-size: 13px;
  }
  :-moz-placeholder {
    color: #999;
    font-size: 13px;
  }
  ::-moz-placeholder {
    color: #999;
    font-size: 13px;
  }
  :-ms-input-placeholder {
    color: #999;
    font-size: 13px;
  }
}
.sidebar-box {
  // flex: 1;
  position: absolute;
  text-align: left;
  top: 0;
  left: 0;
  height: 100%;
  width: 220px;
  padding: 55px 0 0 25px;
  color: #7d7d7d;
  background-color: white;
  //2列等高
  margin-bottom: -9999px;
  .iconfont {
    font-size: 18px;
    color: #9fb3bc;
  }

  .menu-hd {
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 20px;
  }
  .menu-bd {
    font-size: 16px;
  }
  .link {
    display: block;
    padding: 20px 0;
    transition: color 0.3s;
    &::before {
      content: " ";
      display: inline-block;
      vertical-align: -1px;
      margin: 0 8px 0 15px;
      width: 4px;
      height: 12px;
      border-radius: 6px;
      background-color: transparent;
      transform: scale(0.5);
      transition: background-color 0.5s, transform 0.5s;
    }
    &.active,
    &:hover {
      color: #18beff;
      &::before {
        transform: scale(1);
        background-color: #00acef;
      }
    }
  }
}

.tooltip-box {
  position: relative;
  text-align : left;
}

.tooltip-box i {
  display: inline-block;
  vertical-align: middle;
  height : 8px;
  width : 8px;
  border-radius: 100%;
  margin-top : 2px;
}

.tooltip-box span {
  display: inline-block;
  vertical-align: middle;
}

//通用ele table组件样式
.el-table thead tr {
  background: $grey;
}
.el-table .cell {
  color: $black;
}

.el-loading-mask {
  z-index: 1000;
}

.bui-select.bui-select-visible .bui-select-selection {
  box-shadow: none;
}

.bui-select-single .bui-select-selection {
  border-width: 0 0 1px 0;
  border-radius: 0;
  background: none;
}

.page-container {
  .bui-select-selection,
  .el-input__inner {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
  }
}
