  
.ui-txt-justify-one {
  text-align: justify;
  overflow: hidden;
  height: 48rpx;
}

.ui-white {
  padding-left: 15px;
  padding-right: 15px;
}

.ui-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ui-nowrap-multiple {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient : vertical;
  -webkit-line-clamp : 2;
  overflow: hidden;  
}

.ui-break {
  word-break: break-all;
}

.ui-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height : 100px;
}

.ui-divide {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

.ui-divide > .ui-divide-item:not(.ui-tiled) {
  display: flex;
  flex-flow : column wrap;
  justify-content: center;
  flex : 1;
  width: 100%;
}

.ui-divide > .ui-divide-item:first-of-type {
  align-items: flex-start;
  text-align: left;
}

.ui-divide > .ui-divide-item:last-of-type {
  align-items: flex-end;
  text-align: right;
}

.ui-tiled {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.ui-tiled > .ui-tiled-item {
  flex : 1;
  width: 100%;
}

.ui-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.ui-flex > .ui-flex-item {
  width : 100%;
  flex : 1;
}
