$border-color:#e6e6e6;
$bg-color:#f9f9f9;
$gray:#bdbdbd;
$light-gray:#757575;
$link-color:#409eff;
$blue: #00a0e9;
$white:#fff;
$light-white:#fafafa;
$orange:#E84A01;
$grey:#F2F2F2;
$dark-grey:#E2E2E2;
$black:#000;
$light-black:#212121;
$light:#ccc;
$red: #f27978;
$green:#7be0bc;
$black:#494949;